
<div class="animated fadeIn" *ngFor="let dt of callsData" >
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          Traffic &amp; Sales
        </div>
        <div class="card-body"   >
          <div class="row calls">
            <div class="col-sm-6">
              <div class="row">
                <div class="col">
                  <div class="callout-sm callout-info">
                    <small class="text-muted">missed Calls</small>
                    <br>
                    <strong class="h6">{{dt.missed}}</strong>
                  </div>
                </div>
                <div class="col">
                  <div class="callout-sm callout-info">
                    <small class="text-muted">Dialled calls</small>
                    <br>
                    <strong class="h6">{{dt.dialled}}</strong>
                  </div>
                </div>
                <div class="col">
                  <div class="callout-sm callout-info">
                    <small class="text-muted">Recieved</small>
                    <br>
                    <strong class="h6">{{dt.recieved}}</strong>
                  </div>
                </div>

                <!--/.col-->
                <div class="col">
                  <div class="callout-sm callout-danger">
                    <small class="text-muted">Voice calls </small>
                    <br>
                    <strong class="h6">{{dt.voice_calls}}</strong>
                  </div>
                </div>

                <div class="col">
                  <div class="callout-sm callout-danger">
                    <small class="text-muted">Percentages</small>
                    <br>
                    <strong class="h6">{{dt.percentage}}</strong>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->

              <hr class="mt-0">
              <div class="border rounded-top card-header ">
                Weekly Calls
              </div>
              <div class="border  card-body">
                <div class="progress-group mb-4 ">
                  <div class="progress-group-prepend">
                    <span class="progress-group-text">
                      Monday
                    </span>
                  </div>
                  <div class="progress-group-bars">
                    <div class="progress ">
                      <div class="progress-bar bg-danger" role="progressbar"    ng-style="{ 'width': dt.monday/dt.total + '%' }"  aria-valuenow="dt.monday" 
                        aria-valuemin="0" aria-valuemax="100">
                        {{dt.monday/dt.total | percent  }} 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress-group mb-4 ">
                  <div class="progress-group-prepend">
                    <span class="progress-group-text">
                    Tuesday
                    </span>
                  </div>
                  <div class="progress-group-bars">
                    <div class="progress ">
                      <div class="progress-bar bg-danger" role="progressbar"    ng-style="{ 'width': dt.monday/dt.total + '%' }"  aria-valuenow="dt.monday" 
                        aria-valuemin="0" aria-valuemax="100">
                        {{dt.tuesday/dt.total | percent  }} 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress-group mb-4 ">
                  <div class="progress-group-prepend">
                    <span class="progress-group-text">
                    wednesday
                    </span>
                  </div>
                  <div class="progress-group-bars">
                    <div class="progress ">
                      <div class="progress-bar bg-danger" role="progressbar"    ng-style="{ 'width': dt.monday/dt.total + '%' }"  aria-valuenow="dt.monday" 
                        aria-valuemin="0" aria-valuemax="100">
                        {{dt.wednesday/dt.total | percent  }} 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress-group mb-4 ">
                  <div class="progress-group-prepend">
                    <span class="progress-group-text">
                    Thursday
                    </span>
                  </div>
                  <div class="progress-group-bars">
                    <div class="progress ">
                      <div class="progress-bar bg-danger" role="progressbar"    ng-style="{ 'width': dt.monday/dt.total + '%' }"  aria-valuenow="dt.monday" 
                        aria-valuemin="0" aria-valuemax="100">
                        {{dt.thursday/dt.total | percent  }} 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress-group mb-4 ">
                  <div class="progress-group-prepend">
                    <span class="progress-group-text">
                     Friday
                    </span>
                  </div>
                  <div class="progress-group-bars">
                    <div class="progress ">
                      <div class="progress-bar bg-danger" role="progressbar"    ng-style="{ 'width': dt.monday/dt.total + '%' }"  aria-valuenow="dt.monday" 
                        aria-valuemin="0" aria-valuemax="100">
                        {{dt.friday/dt.total | percent  }} 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress-group mb-4 ">
                  <div class="progress-group-prepend">
                    <span class="progress-group-text">
                    Saturday
                    </span>
                  </div>
                  <div class="progress-group-bars">
                    <div class="progress ">
                      <div class="progress-bar bg-danger" role="progressbar"    ng-style="{ 'width': dt.monday/dt.total + '%' }"  aria-valuenow="dt.monday" 
                        aria-valuemin="0" aria-valuemax="100">
                        {{dt.saturday/dt.total | percent  }} 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress-group mb-4">
                  <div class="progress-group-prepend">
                    <span class="progress-group-text">
                    Sunday
                    </span>
                  </div>
                  <div class="progress-group-bars">
                    <div class="progress ">
                      <div class="progress-bar bg-danger" role="progressbar"    ng-style="{ 'width': dt.monday/dt.total + '%' }"  aria-valuenow="dt.monday" 
                        aria-valuemin="0" aria-valuemax="100">
                        {{dt.sunday/dt.total | percent  }} 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col">
                  <div class="callout-sm callout-warning">
                    <small class="text-muted">Mails</small>
                    <br>
                    <strong class="h6">{{dt.Mails}}</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col">
                  <div class="callout-sm callout-success">
                    <small class="text-muted">IVR calls</small>
                    <br>
                    <strong class="h6">{{dt.IVR}}</strong>
                  </div>
                </div>
                <div class="col">
                  <div class="callout-sm callout-success">
                    <small class="text-muted">VoiP calls</small>
                    <br>
                    <strong class="h6">{{dt.VoiP}}</strong>
                  </div>
                </div>
                <div class="col" >
                  <div class="callout-sm callout-success">
                    <small class="text-muted">SMS</small>
                    <br>
                    <strong class="h6">{{dt.rejected}}</strong>
                  </div>
                </div>
                <div class="col">
                  <div class="callout-sm callout-success">
                    <small class="text-muted">Voice sms</small>
                    <br>
                    <strong class="h6">{{dt.voice_sms}}</strong>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
              <!--chart-->
              <hr class="mt-0">

              <div class="card" style="height: 25.3rem;">
                <div class="card-header">
                 Weekly Messages
                  <div class="card-header-actions">

                  </div>
                </div>
                <div class="card-body">

                  <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
              <!--chart end-->
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
